// colors
$primary: #337ab7;
$primary-dark: #0a58ca;
$main: #212529;
$black: #000;
$black2: #333;
$white: #fff;
$gray: #919BA3;
$green: #00C249;
$green-dark: #028332;
// fonts
$mainFont: "Source Sans Pro", sans-serif;
